$colors:(
    "text": #000,
    "primary": #98c8f8,
    "button": #f8ac5f,
    "shadow": #f046ff
);

$spacing:(
    "section": 5rem,
    "button": 2rem,
    "text": 1rem
);


$sizes:(
    "mainTitle": 40px,
    "title": 30px,
    "header": 25px,
    "paragraph": 20px
);


$darkFormColors:(
    "background": #2d2d2d,
    "input": #5c5c5c,
    "text": #fff,
    "button": #ffc413,
    "placeholder": #c8c8c8
);